/*************
Navigation Bar
**************/

html{
	font-family: Geneva;
}

/*Only Targets lists within the nav bar*/
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #444;
	box-shadow: 0px 5px 5px grey;
}

/*Only Targets list items within the nav bar*/
nav li {
	float: left;
}

nav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 20px;
}

nav li a:hover {
	background-color: #222;
}

/*************
	Body
***************/

body {
	margin:0;
}

/************
Miscellaneous
************/