/*************
   Contents
**************
1. Inital Styles
2. Header
3. Navigation Bar
4. Main
5. Content In Main
6. Content In Shop


/*************
Inital Styles
*************/
html{
	font-family: Geneva;
}

body {
	margin:0;
	padding-top: 250px
}

/*************
	Header
***************/
header {
	height: 300px;
	padding-top: 50px;
	background-color: #F77559;
}

header *{
	display: inline-block;
	padding-right: 20px;
}


/*************
Navigation Bar
**************/
nav {
	background-color: #444;
	box-shadow: 0px 2px 5px grey;
	z-index: 150;
}

/*Only Targets lists within the nav bar*/
nav ul {
	list-style-type: none;
	overflow: hidden;
	margin: 0;
	padding: 0;
}


/*Only Targets list items within the nav bar*/
nav li {
	float: left;
}

nav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 20px;
}

nav li a:hover {
	background-color: #222;
}

nav, main{
	position: relative;
}

.nav-scrolled, header{
	position: fixed;
	top: 0px;
	width: 100%;
}

/*************
	Main
***************/
main{
	background-color: #F3F3F3;
	padding-top: 50px;
}

.main-scrolled{
	top: 50px;
}


/*************
Content In Main
***************/
main aside {
	display: block;
	background-color: white;
	max-width: 20%;
	word-wrap: break-word;
	float: left;
	margin-top: 5%;
}

main aside img{
	width: 100%;
	height: 100%;

}
.ad {
	width:100%;
	height: 100%;
}

/*Article Formats*/
main article{
	max-width: 70%;
/*	border-radius: 10px;
	border: 1px solid grey;*/
	overflow: auto;
	padding: 0px 2px 0px 2px;
	margin-left: 25%;
}

main article h1{
	background-color: #F77559;
	padding: 5px;
	color: white;
	border-bottom: thick solid #444444;
	border-radius: 10px;
}

/*Image Container Formats */
.imageDiv{
	margin-left: 35%;
}
.imageDiv img{
	margin-top: 2%;
	width: 20%;
	height: 20%;
}

/*************
Content In Shop
***************/

/*Table Formatting*/
#shopTableDiv{
	overflow-x: auto;
	margin-top: 5%;
	margin-left: 20%;
	width: 70%;
	margin-left: 25%;
}

#shopTable{
	border-collapse: collapse;
}

#shopTable th, #shopTable td{
	border: 1px solid #ddd;
    padding: 8px;
}
#shopTable td{
	height: 170px;
	text-align: center;
}

#shopTable th {
    text-align: left;
    color: white;
    background-color: #444;
    padding-top: 10px;
    padding-bottom: 10px;
}
/*This changes the colour of every other row in the table for readability*/
#shopTable tr:nth-child(even){background-color: #ccc;} 
/*This adds a colour change on mouse-over*/
#shopTable tr:hover {background-color: #b3b3b3;}

td img{
	max-width: 100%;
	max-height: 100%;
}


/************
Media Queries
************/
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) { 

	nav li a{
		font-size: 45px;
	}
}