/*************
   Contents
**************
1. Inital Styles
2. Header
3. Navigation Bar
4. Main
5. Content In Main


/*************
Inital Styles
*************/
html{
	font-family: Geneva;
}

body {
	margin:0;
	padding-top: 250px
}

/*************
	Header
***************/
header {
	height: 300px;
	padding-top: 50px;
	background-color: #F77559;
}

header *{
	display: inline-block;
	padding-right: 20px;
}


/*************
Navigation Bar
**************/
nav {
	background-color: #444;
	box-shadow: 0px 2px 5px grey;
	z-index: 150;
}

/*Only Targets lists within the nav bar*/
nav ul {
	list-style-type: none;
	overflow: hidden;
	margin: 0;
	padding: 0;
}


/*Only Targets list items within the nav bar*/
nav li {
	float: left;
}

nav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 20px;
}

nav li a:hover {
	background-color: #222;
}

nav, main{
	position: relative;
}

.nav-scrolled, header{
	position: fixed;
	top: 0px;
	width: 100%;
}

/*************
	Main
***************/
main{
	background-color: #F3F3F3;
	padding-top: 50px;
}

.main-scrolled{
	top: 50px;
}


/*************
Content In Main
***************/
main aside {
	display: block;
	background-color: white;
	max-width: 200px;
	word-wrap: break-word;
	float: left;
	margin: 5% 2% 0px 0px;
}

/*Article Formats*/
main article{
	max-width: 80%;
	border-radius: 10px;
	border: 1px solid grey;
	overflow: auto;
}

/*Image Container Formats */
.imageDiv{
	margin-top: 2%;
}

/************
Media Queries
************/
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) { 

	nav li a{
		font-size: 45px;
	}
}